<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LucidDeveloper</title>
    <link rel="stylesheet" href="/flask_app/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>

  <body>

    <div class="top_nav">
      <div id="home" class="dropdown">
        <div class="dropbtn"><h1>LucidDeveloper</h1></div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/projects">Projects</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="img">
      <img
        src="{{ url_for('static', filename = 'photos/home.jpg') }}" alt="home.jpg" />
      </div>
      <div class="about_me">
        <h3>Gianni M. Javier</h3>
        <h4>Software Development Engineer</h4>
        <h6>
          Thank you for visiting my website. My name is Gianni M. Javier, aka
          Lucid Developer. I enjoy developing web and mobile apps in my spare
          time, as well as solving data structure and algorithm challenges. If you
          decide to explore this website, you will come to see some of my past
          projects, as well as my thoughts and solutions on various challenges
          found online.
        </h6>
      </div>
    </div>

      <div class="bottom_nav">
        <a href="/linked_in">LinkedIn</a>
        <a href="/git_hub">GitHub</a>
        <a href="/email">Email</a>
      </div>
      
  </body>
</html>

