<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LucidDeveloper</title>
    <link rel="stylesheet" href="/flask_app/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>

  <body>

    <div class="top_nav">
      <div id="home" class="dropdown">
        <div class="dropbtn"><a href='/'><h1>LucidDeveloper</h1></a></div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/projects">Projects</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="img">
      <img
        src="{{ url_for('static', filename = 'images/home.jpg') }}" alt="home.jpg" />
      </div>
      <div class="about_me">
        <h2>Gianni M. Javier</h2>
        <h3>Software Development Engineer</h3>
        <h4>Thank you for visiting!</h4>
      </div>
    </div>

      <div class="bottom_nav" id="bottom_nav">
        <h5><a href="/linked_in" target="_blank">LinkedIn</a></h5>
        <h5><a href="/git_hub" target="_blank">GitHub</a></h5>
        <h5><a href="/email">Email</a></h5>
      </div>
      
  </body>
</html>

