
{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %} 

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index_style.css') }}">
{% endblock %}

{% block top_nav %}LucidDeveloper{% endblock %}

{% block content %}
    <div class="main">
      <div class="box">
      </div>

      <div class="index_img">
      <img
        src="{{ url_for('static', filename = 'images/index_picture.jpg') }}" alt="Index Picture" />
      </div>

      <div class="about_me">
        <h2>Gianni M. Javier</h2>
        <h3>Software Development Engineer</h3>
      </div>

        <div class="box">
        </div>

      <div class="about_me">
        <h4>Thank you for visiting!</h4>
      </div>
      
    </div>
    {% endblock %}

    {% block bottom_nav %}{% endblock %}

    {% block script %}{% endblock %}


