{% extends 'layouts/base.html' %}

{% block title %}Payments{% endblock %} 

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index_style.css') }}">
{% endblock %}

{% block top_nav %}Payments{% endblock %}

{% block content %}
    <body>
        {% block script%}
            <script
            async
            src="https://js.stripe.com/v3/pricing-table.js">
            </script>
            <stripe-pricing-table
            pricing-table-id="{{PRICING_TABLE_ID}}"
            publishable-key= "{{PUBLISHABLE_KEY}}"
            >
            </stripe-pricing-table>
        {% endblock %}
    </body>
{% endblock %}