{% extends 'layouts/base.html' %}

{% block title %}Projects{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/projects_style.css') }}">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/base_script.js') }}"></script>
{% endblock %}

{% block top_nav %}Projects{% endblock %}

{% block content %}
    <div class="main">
      <div class="box">
      </div>

      <div class="projects_img">
        <img
          src="{{ url_for('static', filename = 'images/projects_picture.jpg') }}" alt="Projects Picture" />
        </div>

        <div class="box">
        </div>

      <div class="projects">
        <h3>Users CRUD</h3>

        <!-- Video element -->
          <video id = "users_crud_video"
            src="{{ url_for('static', filename = 'videos/users_crud.mp4') }}"
            type="video/mp4" class = "video" mute loop controls> 
          </video>

        <h4>Users CRUD is a a crud web app which allows user to create, read, update, and delete accounts.</h4>
        <br>
        <h4>Tools: Html, Css, Bootstrap, Python, Flask, Jinja, and SQLite.</h4>
        <br>
        <h4>Focus: Database Connections, Classes, Objects, Servers, Iterating,
          Jinja Variables, Loops, and Conditions, App Routing, Redirects, Form Requests,
          HTTP Methods, Template Rendering, Models, Controllers.</h4>
        <br>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="Try" href="/projects/users-crud">
            <span class="color">
              App
            </span>
          </a>
        </h3>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="View" href="https://www.github.com/LucidDeveloper/Portfolio/blob/main/flask_app/models/users_crud_sqlite_model.py" target="_blank">
            <span class="color">
              Source Code
            </span>
          </a>
        </h3>
      </div>

      <div class="box">
      </div>

      <div class="projects">
        <h3>Great Number Game</h3>

        <!-- Video element -->
          <video id = "great_number_game_video"
            src="{{ url_for('static', filename = 'videos/great_number_game.mp4') }}"
            type="video/mp4" class="video" mute loop controls> 
          </video>

        <h4>Great Number Game is a web app which picks a random number and allows the user to guess that number.</h4>
        <br>
        <h4>Tools: Html, Css, Bootstrap, Python, Jinja, and Flask.</h4>
        <br>
        <h4>Focus: Servers, Jinja Variables, Loops, and Conditions, Dynamic Web Pages, Session storage, App routing, Redirects, Form Requests, Template Rendering.</h4>
        <br>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="Play" href="/projects/great-number-game">
            <span class="color">
              App
            </span>
          </a>
        </h3>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="View" href="https://github.com/LucidDeveloper/Portfolio/blob/main/flask_app/controllers/great_number_game_controller.py" target="_blank">
            <span class="color">
              Source Code
            </span>
          </a>
        </h3>
      </div>      
      
      <div class="box">
      </div>

      <div class="projects">
        <h3>LucidDeveloper</h3>

        <!-- Video element -->
          <video id = "portfolio_video"
            src="{{ url_for('static', filename = 'videos/portfolio.mp4') }}"
            type="video/mp4" class="video" mute loop controls> 
          </video>

        <h4>LucidDeveloper is my personal website.</h4>
        <h4>Deployed on Digital Ocean using OpenSSH.</h4>
        <br>
        <h4>Tools: Javascript, Html, Css, Bootstrap, Loom, Python, Jinja, Flask, and SQLite.</h4>
        <br>
        <h4>Focus: CRUD applications, App Servers, Flask, Web Servers, Nginx, SSH Protocols, OpenSSH, Models, Views, and Controllers, HTTP Methods,
          Iterating, Session storage, Routing, Redirects, Form Requests, Template Rendering,
          Model, View, Controllers.</h4>
        <br>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="View" href="/home" target="_blank">
            <span class="color">
              Website
            </span>
          </a>
        </h3>
        <h3>
          <a class="text-reset text-decoration-none" data-toggle="tooltip" title="View" href="https://www.github.com/LucidDeveloper/Portfolio/blob/main/flask_app/controllers" target="_blank">
            <span class="color">
              Source Code
            </span>
          </a>
        </h3>
      </div>
      
      <div class="box">
      </div>

    </div>
{% endblock %}

{% block bottom_nav %}{% endblock %}
