<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LucidDeveloper/Projects</title>
    <link rel="stylesheet" href="/flask_app/static/css/portfolio_styles.css" />
  </head>
  <body>
    <div class="header">
      <div class="banner">
        <h1>LucidDeveloper</h1>
      </div>
      <div class="top_nav">
        <div class="dropdown">
          <button class="dropbtn">LucidDeveloper</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Resume</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Connect</button>
          <div class="dropdown-content">
            <a href="#linked_in"></a>
            <a href="#git_hub"></a>
            <a href="#email"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Challenges</button>
          <div class="dropdown-content">
            <a href="#advent_of_code">AdventOfCode</a>
            <a href="#hacker_rank">HackerRank</a>
          </div>
        </div>
      </div>
    </div>

    <div div class="main"></div>

    <div class="footer">
      <div class="bottom_nav">
        <a href="#linked_in">LinkedIn</a>
        <a href="#git_hub">GitHub</a>
        <a href="#email">Email</a>
      </div>
      <div class="banner">
        <h1>LucidDeveloper</h1>
      </div>
    </div>
  </body>
</html>
