{% extends 'layouts/base.html' %}

{% block title %}Resume{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/resume_style.css') }}">
{% endblock %}

{% block top_nav %}Resume{% endblock %}

{% block content %}
    <div class="main">
      <div class="box">
      </div>

      <div class="resume">
        <h2>Education</h2>
        <br>
        <h3>CUNY</h3>
        <h3>New York City College of Technology</h3>
        <h4>Bachelor of Technology in Computer Systems</h4>
        <h4>January 2023 - Present</h4>
        <h4>GPA: 4.0</h4>
        <br>
        <br>
        <h3>Boston University</h3>
        <h3>College of Engineering</h3>
        <h4>Biomedical Engineering (Complete 104.5 credits.)</h4>
        <h4>September 2007 - December 2012</h4>
      </div>

      <div class="box">
      </div>

      <div class="resume">
        <h2>Technical Skills</h2>
        <br>
        <h3>Programming Languages</h3>
        <h4>Python, JavaScript, HTML, CSS, Dart, SQL, C++, Java</h4>
        <br>
        <h3>Frameworks</h3>
        <h4>Flask, Jinja, Django, Bootstrap, Flutter, Node.js</h4>
        <br>
        <h3>Database</h3>
        <h4>MySQL, SQL Alchemy, SQLite</h4>
        <br>
        <h3>Tools</h3>
        <h4>Git, GitHub, Npm, Pip, Pipenv, OpenSSH, Nginx, FileZilla, Command Prompt, Git Bash, Nano, Systemd (Systemctl), Xclip, Loom, Digital Ocean, Heroku, Microsoft Visual Studio, JetBrains IDEA, Android Studio, VS Code, Eclipse, Loom</h4>
        <br>
        <h3>Operating Systems</h3>
        <h4>Windows, Linux</h4>
      </div>
      <div class="box">
      </div>
      <div class="resume">
        <h2>Experience</h2>
        <br>
        <h3>Program/Learning/Technical Aide</h3>
        <h4>September 2023 - Present</h4>
        <h3>RF CUNY - Tutor</h3>
        <br>
        <h4>As a tutor in the Computer Systems department I assisted students in developing their
        logical thinking and problem solving skills.</h4>
        <br>
        <br>
        <h3>Full Stack Python Developer</h3>
        <h4>January 2021 - December 2021</h4>
        <h3>Coding Dojo - Cohort</h3>
        <br>
        <h4>As a cohort of the 2021 part time accelerated Coding Dojo bootcamp
        I learned the fundamentals of programming and web development to create a full stack web app with Python and the Flask framework.</h4>
          <br>
          <h3>
            <a class= "text-reset text-decoration-none" data-toggle="tooltip" title="View" href="https://www.github.com/LucidDeveloper/CodingDojo" target="_blank">
              <span class="color">
                Coding Dojo Projects
              </span>
            </a>
          </h3> 
      </div>

      <div class="box">
      </div>

      <div class="resume">
        <h2>Activities</h2>
        <br>
        <h3>We Love U Foundation - Volunteer</h3>
        <h4>January 2014 - Present</h4>
      </div>

      <div class="box">
      </div>
      
      <div class="resume">
        <h4>Download Resume </h4><h4><b>-></b>
          <a class= "text-reset text-decoration-none" data-toggle="tooltip" title="Download" href="{{ url_for('static', filename = '/documents/Gianni-M-Javier-SDE.doc') }}" download>
            <span class="color">
              here
            </span>
          </a>
        </h4>
      </div>

      <div class="box">
      </div>
    </div>
{% endblock %}

{% block bottom_nav %}{% endblock %}

{% block script %}{% endblock %}