<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LucidDeveloepr/Resume</title>
    <link rel="stylesheet" href="/flask_app/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>
  <body>
    
    <div class="top_nav">
      
      <div id="home" class="dropdown">
        <div class="dropbtn"><a href='/'><h1>LucidDeveloper</h1></a></div>
        <div class="dropbtn"><a href='/resume'><h1>Resume</h1></a></div>
        <div class="dropdown-content">
          <a href="/projects">Projects</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="box"></div>
      <div class="resume">
          <h4>My resume is available for download <a href="/static/resume.pdf" download>here</a>.</h4>
          <h4>My resume is also available on <a href="https://www.linkedin.com/in/alexander-lee-1b1b1a1b1/" target="_blank">LinkedIn</a>.</h4>
          <h4>My resume is also available on <a href="">.</a></h4>
      </div>
      <div class="resume">
        <h2>Education</h2>
        <h3>University of California, Irvine</h3>
        <h4>Bachelor of Science in Computer Science</h4>
        <h4>September 2018 - June 2022</h4>
        <h4>GPA: 3.5</h4>
    </div>
    <div class="resume">
        <h2>Experience</h2>
        <h3>Software Engineering Intern</h3>
        <h4>June 2021 - September 2021</h4>
        <h4>Amazon Web Services</h4>
    </div>
    <div class="resume">
        <h2>Projects</h2>
        <h3>LucidDeveloper</h3>
        <h4>Personal Website</h4>
        <h4>Technologies: HTML, CSS, JavaScript, Python, Flask</h4>
        <h4>Link: <a href="https://luciddeveloper.com">luciddeveloper.com</a></h4>
        <h4>GitHub: <a href="">luciddeveloper.com</a></h4>
    </div>
  </div>

    <div class="bottom_nav">
      <h5><a href="/linked_in" target="_blank">LinkedIn</a></h5>
      <h5><a href="/git_hub" target="_blank">GitHub</a></h5>
      <h5><a href="/email">Email</a></h5>
    </div>
    
  </body>
</html>
