<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LucidDeveloepr/Resume</title>
    <link rel="stylesheet" href="/flask_app/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>
  <body>
    
    <div class="top_nav">
      <div id="home" class="dropdown">
        <div class="dropbtn"><a href='/'><h1>LucidDeveloper</h1></a></div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/projects">Projects</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
    </div>

    <div class="bottom_nav">
      <a href="/linked_in" target="_blank">LinkedIn</a>
      <a href="/git_hub" target="_blank">GitHub</a>
      <a href="/email" target="_blank">Email</a>
    </div>
    
  </body>
</html>
