
{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %} 

{% block body %}
  <body>
    <div class="top_nav">
      <div class="dropdown">
        <div class="dropbtn"><a href='/'><h1>LucidDeveloper</h1></a></div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/projects">Projects</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="box"></div>

      <div class="img">
      <img
        src="{{ url_for('static', filename = 'images/profile_picture.jpg') }}" alt="Profile Picture" />
      </div>

      <div class="about_me">
        <h2>Gianni M. Javier</h2>
        <h3>Software Development Engineer</h3>
        <h4>Thank you for visiting!</h4>
      </div>
    </div>

    <div class="bottom_nav" id="bottom_nav">
      <h5><a href="https://www.linkedin.com/in/lucid-developer/" target="_blank">LinkedIn</a></h5>
      <h5><a href="https://www.github.com/LucidDeveloper/" target="_blank">GitHub</a></h5>
      <h5><a href="mailto:lucid_developer@proton.me">Email</a></h5>
    </div>
  </body>
{% endblock %}

