{% extends 'layouts/base.html' %}

{% block title %} LucidDeveloper/Projects {% endblock %}

{% block body %}
  <body>
    <div class="top_nav">
      <div class="dropdown">
        <div class="dropbtn"><a href='/projects'><h1>Projects</h1></a></div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="box"></div>

      <div class="projects">
        <h3>LucidDeveloper</h3>
        <h4>Personal Website</h4>
        <h4>Technologies: HTML, CSS, JavaScript, Python, Flask</h4>
        <h4>Link: <a href="https://luciddeveloper.com">luciddeveloper.com</a></h4>
        <h4>GitHub: <a href="">luciddeveloper.com</a></h4>
        <h4>Created a personal website to showcase my projects and resume</h4>
        <h4>Created a blog to share my thoughts and experiences</h4>
        <h4>Implemented a contact form to allow users to contact me</h4>
        <h4>Implemented a login system to allow users to create accounts, login, and logout</h4>
        <h4>Implemented a blog system to allow users to create, edit, and delete posts</h4>
        <h4>Implemented a comment system to allow users to comment on posts</h4>
        <h4>Implemented a search feature to allow users to search for posts</h4>
        <h4>Implemented a pagination feature to allow users to navigate through posts</h4>
        <h4>Implemented a password reset feature to allow users to reset their passwords</h4>
        <h4>Implemented a profile feature to allow users to update their profile pictures and information</h4>
      </div>

      <div class="projects">
        <h3>UCI Course Planner</h3>
        <h4>Course Planning Web Application</h4>
        <h4>Technologies: HTML, CSS, JavaScript, Python, Flask, MongoDB</h4>
        <h4>Link: <a href="">ucicourseplanner.com</a></h4>
        <h4>GitHub: <a href="">ucicourseplanner.com</a></h4>
        <h4>Created a web application to help students plan their courses</h4>
        <h4>Implemented a course search feature to find courses based on course code, title, and description</h4>
        <h4>Implemented a course planning feature to help students plan their courses</h4>
        <h4>Implemented a course scheduling feature to help students schedule their courses</h4>
        <h4>Implemented a course sharing feature to allow students to share their course plans</h4>
        <h4>Implemented a course rating feature to allow students to rate courses</h4>
        <h4>Implemented a course review feature to allow students to review courses</h4>
        <h4>Implemented a course discussion feature to allow students to discuss courses</h4>
        <h4>Implemented a course recommendation feature to recommend courses to students</h4>
        <h4>Implemented a course statistics feature to show statistics about courses</h4>
        <h4>Implemented a course prerequisite feature to show prerequisites for courses</h4>
        <h4>Implemented a course grade distribution feature to show grade distributions for courses</h4>
      </div>

      <div class="projects">
        <h2>Flask App</h2>
        <img src="" alt="Flask App" width="500" height="300">
        <h4>Flask App is a web application that I created using the Flask framework. 
          It is hosted on Heroku and uses a PostgreSQL database. 
          It is a simple web application that allows users to create accounts, login, and logout. 
          It also allows users to create, edit, and delete posts. 
          The application is styled using CSS and Bootstrap.</h4>
        <a href="">View Project</a>
      </div>
    </div>

    <div class="projects">
      <h2>Great Number Game</h2>
      <img src="" alt="Great Number Game" width="500" height="300">
      <h4>UCI Course Planner is a web application that I created using the Flask framework. 
        It is hosted on Heroku and uses a MongoDB database. 
        It is a simple web application that allows students to search for courses, plan their courses, and schedule their courses. 
        It also allows students to share their course plans, rate courses, review courses, and discuss courses. 
        The application is styled using CSS and Bootstrap.</h4>
      <a href='/projects/great_number_game'>View Project</a>
    </div>

    <div class="bottom_nav">
      <h5><a href="https://www.linkedin.com/in/lucid-developer/" target="_blank">LinkedIn</a></h5>
      <h5><a href="https://www.github.com/LucidDeveloper/" target="_blank">GitHub</a></h5>
      <h5><a href="mailto:lucid_developer@proton.me">Email</a></h5>
  </div>
  </body>
{% endblock %}
