{% extends 'layouts/base.html' %}

{% block title %}Projects{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/projects_style.css') }}">
{% endblock %}

{% block content %}
    <div class="top_nav">
      <div class="dropdown">
        <div class="dropbtn">
          <a href='/projects'><h1>Projects</h1></a>
        </div>
        <div class="dropdown-content">
          <a href="/resume">Resume</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="box">
      </div>

      <div class="projects">
        <img src="" alt="Portfolio" width="500" height="300">
        <h3>LucidDeveloper</h3>
        <h4>LucidDeveloper is a personal website built with the Flask framework in order 
        to showcase my projects and resume.</h4>
        <h4>Technologies: HTML, CSS, Bootstrap, JavaScript, Python, Flask, Jinja, SQL Alchemy</h4>
        <h4>Link: <a href="/home">LucidDeveloper</a></h4>
        <h4>GitHub: <a href="https://www.github.com/LucidDeveloper/Portfolio/">github.com/LucidDeveloper/Portfolio</a></h4>
      </div>

      <div class="projects">
        <img src="" alt="Users CRUD" width="500" height="300">
        <h3>Users CRUD</h3>
        <h4>Users CRUD is a simple CRUD application which allows users to create, edit, and delete accounts.</h4>
        <h4>Technologies: HTML, CSS, Bootstrap, JavaScript, Python, Flask, Jinja, SQL Alchemy</h4>
        <h4>Link: <a href="/projects/users-crud">Users CRUD</a></h4>
        <h4>GitHub: <a href="https://www.github.com/LucidDeveloper/CodingDojo/">github.com/LucidDeveloper/CodingDojo</a></h4>
      </div>

      <div class="projects">
        <img src="" alt="Great Number Game" width="500" height="300">
        <h3>Great Number Game</h3>
        <h4>Great Number Game is a simple web application which picks a random number and allows the user 
        multiple attempts to guess the number.</h4>
        <h4>Technologies: HTML, CSS, Bootstrap, JavaScript, Python, Flask, Jinja</h4>
        <h4>Link: <a href="/projects/great-number-game">Great Number Game</a></h4>
        <h4>GitHub: <a href="https://www.github.com/LucidDeveloper/CodingDojo/">github.com/LucidDeveloper/CodingDojo</a></h4>
      </div>
    </div>
{% endblock %}
