{% extends 'layouts/base.html' %}

{% block title %}Resume{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/resume_style.css') }}">
{% endblock %}

{% block content %}
    <div class="top_nav">
      <div class="dropdown">
        <div class="dropbtn">
          <a href='/resume'><h1>Resume</h1></a>
        </div>
        <div class="dropdown-content">
          <a href="/projects">Projects</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="box">
      </div>

      <div class="resume">
        <h2>Education</h2>
        <br>
        <h3>New York City College of Technology at CUNY</h3>
        <h4>Bachelor of Technology in Computer Systems</h4>
        <h4>January 2023 - Present</h4>
        <h4>GPA: 4.0</h4>
        <h3>Boston University</h3>
        <h4>Bachelor of Science in Biomedical Engineering</h4>
        <h4>September 2007 - December 2012</h4>
      </div>

      <div class="resume">
        <h2>Experience</h2>
        <br>
        <h3>Program/Learning/Technical Aide</h3>
        <h4>September 2023 - Present</h4>
        <h4>RF CUNY</h4>
        <h4>Technologies: Java, C++, Dart, Python, Html, Css, Javascript, Flutter, Flask</h4>
        <h4>As a tutor in the Computer Systems department I assisted students in developing their
        logical thinking and problem solving skills as they worked on class assignments and projects.</h4>
      </div>

      <div class="resume">
        <h2>Activities</h2>
        <br>
        <h3>We Love U Foundation</h3>
        <h4>Member</h4>
        <h4>January 2014 - Present</h4>
      </div>

      <div class="resume">
        <h4>My resume is available for download <a href="/static/resume.pdf" download>here</a>.</h4>
        <h4>My resume is also available on <a href="https://www.linkedin.com/in/gianni-m-javier/" target="_blank">LinkedIn</a>.</h4>
      </div>
    </div>
{% endblock %}