{% extends 'layouts/base.html' %}

{% block title %} LucidDeveloper/Resume {% endblock %}

{% block body %}
  <body>
    <div class="top_nav">
      <div class="dropdown">
        <div class="dropbtn"><a href='/resume'><h1>Resume</h1></a></div>
        <div class="dropdown-content">
          <a href="/projects">Projects</a>
          <a href="/home">Home</a>
        </div>
      </div>
    </div>

    <d class="main">
      <div class="box"></div>
      
      <div class="resume">
          <h4>My resume is available for download <a href="/static/resume.pdf" download>here</a>.</h4>
          <h4>My resume is also available on <a href="https://www.linkedin.com/in/alexander-lee-1b1b1a1b1/" target="_blank">LinkedIn</a>.</h4>
          <h4>My resume is also available on <a href="">.</a></h4>
      </div>

      <div class="resume">
        <h2>Education</h2>
        <h3>University of California, Irvine</h3>
        <h4>Bachelor of Science in Computer Science</h4>
        <h4>September 2018 - June 2022</h4>
        <h4>GPA: 3.5</h4>
      </div>

      <div class="resume">
        <h2>Skills</h2>
        <h3>Programming Languages</h3>
        <h4>Python, Java, C++, C, JavaScript, HTML, CSS, SQL</h4>
        <h3>Technologies</h3>
        <h4>Git, Linux, AWS, Docker, Flask, React, Node.js, MongoDB, MySQL, PostgreSQL</h4>
        <h3>Other</h3>
        <h4>Problem Solving, Teamwork, Communication, Leadership, Time Management</h4>
      </div>

        <div class="resume">
        <h2>Activities</h2>
        <h3>UCI ACM</h3>
        <h4>Member</h4>
        <h4>September 2018 - Present</h4>
        <h3>UCI Cybersecurity Club</h3>
        <h4>Member</h4>
        <h4>September 2018 - Present</h4>
        <h3>UCI Intramural Sports</h3>
        <h4>Member</h4>
        <h4>September 2018 - Present</h4>
      </div>

      <div class="resume">
        <h2>Experience</h2>
        <h3>Software Engineering Intern</h3>
        <h4>June 2021 - September 2021</h4>
        <h4>Amazon Web Services</h4>
        <h4>Technologies: Java, AWS, Docker, Linux</h4>
        <h4>Worked on the AWS CloudWatch team</h4>
        <h4>Implemented a feature to allow users to create dashboards from CloudWatch metrics</h4>
      </div>
    </div>

    <div class="bottom_nav">
      <h5><a href="https://www.linkedin.com/in/lucid-developer/" target="_blank">LinkedIn</a></h5>
      <h5><a href="https://www.github.com/LucidDeveloper/" target="_blank">GitHub</a></h5>
      <h5><a href="mailto:lucid_developer@proton.me">Email</a></h5>
    </div>
  </body>
{% endblock %}