{% extends 'layouts/base.html' %}

{% block title %}Create User{% endblock %}

{% block css %}
{% endblock %}

{% block top_nav %}Create User{% endblock %}

{% block content %}
    <div class="container mx-auto my-2" style="width:">
        <div class="row">
            <!-- Display form to create new users on the Create page -->
            <!-- When the form is submitted, a new user should be inserted into the database -->
            <!-- After successful creation of a new User, redirect to Show User page -->
            <form action="/users-crud/process" method="post">
                <div class="col-md">
                    <label class="text-secondary" for="first_name"><h3>First Name:</h3></label>
                    <input class="form-control" type="text" name="first_name"/>
                </div>
                <div class="col-md">
                    <label class="text-secondary" for="last_name"><h3>Last Name:</h3></label>
                    <input class="form-control" type="text" name="last_name"/>
                </div>
                <div class="col-md">
                    <label class="text-secondary" for="email"><h3>Email:</h3></label>
                    <input class="form-control" type="text" name="email"/>
                </div>
                <div class="col-md">
                    <button class="btn btn-outline-light my-2" type="submit">Add User</button>
                </div>
            </form>
                <!-- Cancel and redirect to the Users page -->
                <div>
                    <h5>
                        <a class="text-decoration-none p-1 mb-2 mr-2" href="/projects/users-crud">
                            <span class="color">
                                Cancel
                            </span>
                        </a>
                    </h5>
                </div>
        </div>
        
        <div class="box">
        </div>
    </div>
{% endblock %}

{% block bottom_nav %}float-none fixed-bottom{% endblock %}

{% block script %}{% endblock %}
