{% extends 'layouts/base.html' %}

{% block title %}Edit User{% endblock %}

{% block css %}
{% endblock %}

{% block top_nav %}Edit User{% endblock %}

{% block content %}
    <div class="container mx-auto my-2" style="">
        <div class="row">
            <div class="col-md">
                <h1 class="text-center">User {{ user.id }}</h1>
            </div>
        </div>
        
        <div class="row">
            <!-- Edit link will render the Users Edit page -->
            <!-- Edit page will have a form pre-populated with the users information -->
            <form action="/users-crud/edit/process/{{ user.id }}" method="post">
                <div class="col-md">
                    <label class="text-secondary" for="first_name"><h3>First Name:</h3></label>
                    <input class="form-control text-secondary" type="text" name="first_name" value="{{ user.first_name }}" placeholder="{{ user.first_name }}"/>
                </div>
                <div class="col-md">
                    <label class="text-secondary" for="last_name"><h3>Last Name:</h3></label>
                    <input class="form-control text-secondary" type="text" name="last_name" value="{{ user.last_name }}" placeholder="{{ user.last_name }}"/>
                </div>
                <div class="col-md">
                    <label class="text-secondary" for="email"><h3>Email:</h3></label>
                    <input class="form-control text-secondary" type="text" name="email" value="{{ user.email }}" placeholder="{{ user.email }}"/>
                </div>
                <div class="col-md">
                    <button class="btn btn-outline-light my-2" type="submit">Update</button>
                </div>
            </form>
        </div>

        <div class="box">
        </div>

        <!-- All Home links should redirect to the Read (All) page -->
        <div class="row">
            <h5 class="text-center">
                <a class="link-secondary text-decoration-none p-1 about_me mr-2" href="/projects/users-crud"><span class="color">Cancel</span></a>
                <a class="link-secondary text-decoration-none p-1 about_me mr-2" href="/projects/users-crud/show/{{ user.id }}"><span class="color">Show</span></a>
                <a class="link-secondary text-decoration-none p-1 about_me mr-2" href="/projects/users-crud/delete/{{ user.id }}"><span class="color">Delete</span></a>
            </h5>
        </div>

        <div class="box">
        </div>
    </div>
{% endblock %}

{% block bottom_nav %}float-none fixed-bottom{% endblock %}

{% block script %}{% endblock %}