{% extends 'layouts/base.html' %}

{% block title %}All Users{% endblock %}

{% block head  %}
{% endblock %}

{% block top_nav %}All Users{% endblock %}

{% block content %}
    <div class="container mx-auto my-2">
        <div class="box">
        </div>
        
        <div>
            <table class="text-white table table-striped">
                <thead>
                    <tr>
                        <th><h3 class="text-light">ID</h3></th>
                        <th><h3 class="text-light">Name</h3></th>
                        <th><h3 class="text-light">Email</h3></th>
                        <th><h3 class="text-light">Created At</h3></th>
                        <th><h3 class="text-whitet">Actions</h3></th>
                    </tr>
                </thead>
                <!-- Display all users from the database on the Users page -->
                <!-- Redirect to Users page after creating a new user, and the user just created should appear in the table -->
                <tbody>
                    {% for user in users  %}
                        <tr>
                            <td><h5 class="text-white">{{ user.id }}</h5></td>
                            <td><h5 class="text-white">{{ user.first_name }} {{ user.last_name }}</h5></td>
                            <td><h5 class="text-white">{{ user.email }}</h5></td>
                            <td><h5 class="text-white">{{ user.created_at }}</h5></td>
                            <td>
                                <h5>
                                    <a class = "link-secondary p-1 btn btn-white border-rounded mb-2 mr-2" href="/projects/users-crud/show/{{ user.id }}"><span class="color">Show</span></a>
                                    <a class = "link-secondary p-1 btn btn-white border-rounded mb-2 mr-2" href="/projects/users-crud/edit/{{ user.id }}"><span class="color">Edit</span></a>
                                    <a class = "link-secondary p-1 btn btn-white border-rounded mb-2" href="/projects/users-crud/delete/{{ user.id }}"><span class="color">Delete</span></a>
                                </h5>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 

        <div class="box">
        </div>

        <div>
            <h5 class="text-end">
                <a class="link-light rounded p-1 text-decoration-none" href="/projects/users-crud/new">
                    <span class="color">
                        Add User
                    </span>
                </a>
            </h5>
        </div>

        <div class="box">
        </div>
    </div>
{% endblock %}

{% block bottom_nav %}float-none relative-bottom{% endblock %}