{% extends 'layouts/base.html' %}

{% block title %}User{{user.id}}{% endblock %}

{% block head %}
{% endblock %}

{% block top_nav %}User{% endblock %}

{% block content %}
    <div class="container mx-auto my-2" style="">
        <div class="row border border-secondary bg-secondary text-white">
            <div class="row">
                <h5 class="text-center">Full Name: {{ user.first_name }} {{ user.last_name }}</h5>
            </div>
            <div class="row">
                <h5 class="text-center">Email: {{ user.email }}</h5>
            </div>
            <div class="row">
                <h5 class="text-center">Created On: {{ user.created_at }}</h5>
            </div>
            <!-- Update the updated_at field when editing the User's information -->
            <div class="row">
                <h5 class="text-center"> Last Updated On: {{ user.updated_at }}</h5>
            </div>
        </div>
        <!-- Read (One) page to have Edit and Delete links -->
        <!-- All Home links should redirect to the Read (All) page -->
        <div class="row border border-secondary border-top-0 rounded-bottom bg-secondary text-white">
            <div class="col">
                <h5 class="text-center text-light">
                    <a class="text-secondary btn btn-light" href="/projects/users-crud">Home</a> | 
                    <a class="text-secondary btn btn-light" href="/projects/users-crud/edit/{{ user.id }}">Edit</a> | 
                    <a class = "text-secondary btn btn-light" href="/projects/users-crud/delete/{{ user.id }}">Delete</a>
                </h5>
            </div>
        </div>

        <div class="box">
        </div>
    </div>
{% endblock %}

{% block bottom_nav %}float-none relative-bottom{% endblock %}