<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freelance</title>
    <link rel="stylesheet" href="/static/css/lucid_developer.css" />
  </head>
  <body>
    <div class="header">
      <div class="banner">
        <h1>Lucid Developer</h1>
      </div>
      <div class="top_nav">
        <div class="dropdown">
          <button class="dropbtn">Lucid Developer</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Resume</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Connect</button>
          <div class="dropdown-content">
            <a href="#linked_in"></a>
            <a href="#git_hub"></a>
            <a href="#email"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Challenges</button>
          <div class="dropdown-content">
            <a href="#advent_of_code">Advent of Code</a>
            <a href="#hacker_rank">Hacker Rank</a>
          </div>
        </div>
      </div>
    </div>
    <div div class="main"></div>
    <div class="footer">
      <div class="bottom_nav">
        <a href="#linked_in">LinkedIn</a>
        <a href="#git_hub">GitHub</a>
        <a href="#email">Email</a>
      </div>
      <div class="banner">
        <h1>Lucid Developer</h1>
      </div>
    </div>
  </body>
</html>
