<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucid Developer</title>
    <link rel="stylesheet" href="/static/css/lucid_developer.css" />
  </head>
  <body>
    <div class="header">
      <div class="banner">
        <h1>Lucid Developer</h1>
      </div>
      <div class="nav">
        <div class="dropdown">
          <button class="dropbtn">DSA Challenges</button>
          <div class="dropdown-content">
            <a href="#advent_of_code"> Advent of Code </a>
            <a href="#hacker_rank"> Hacker Rank </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
            <a href="#web_apps"> Web Apps </a>
            <a href="#mobile_apps"> Mobile Apps </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Resume</button>
          <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Contact Me</button>
          <div class="dropdown-content">
            <a href="#email"> Email Me </a>
            <a href="#git_hub"> Git Hub </a>
          </div>
        </div>
      </div>
    </div>
    <div div class="main">
      <img src="/static/photos/lucid_developer.jpg" alt="lucid_developer" />
      <p>
        Thank you for visiting my website. My name is Gianni M. Javier, aka
        Lucid Developer. I enjoy creating web and mobile apps, as well as
        solving data structure and algorithm (dsa) challenges. If you decide to
        explore this website, you will come to see some of my past projects, as
        well as my thoughts and solutions to various dsa challenges found
        online.
      </p>
    </div>
    <div class="footer">
      <div class="nav"></div>
    </div>
  </body>
</html>
