/* Navigation links */
.top_nav {
  float:none;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  padding: auto;
  color: ghostwhite;
  font-size: 17px;
  text-align: center;
  transition: all 0.6s ease;
}

/* Add responsiveness - on screens less than 500px, 
make the navigation links appear on top of each other, 
instead of next to each other */
@media screen and (max-width: 500px) {
  .top_nav {
    flex-direction: column;
  }
}

.top_nav a:hover {
  color: ghostwhite;
  transition: all 0.6s ease;
}

.dropbtn {
  background-color: inherit;
  color: ghostwhite;
  padding: auto;
  font-size: 17px;
  border: none;
  text-align: center;
  transition: all 0.6s ease;
}

.top_nav .dropbtn h1:hover {
  color:ghostwhite;
  transition: all 0.6s ease;
}

.dropdown {
  float: none;
  display: flexbox;
  text-decoration: none;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: all 0.6s ease;
}

.dropdown-content {
  display: none;
  padding-top: 5px;
  position:relative;
  text-align: center;
  transition: all 0.6s ease;
}

.dropdown-content a {
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
  padding: 5px;
  width: auto;
  transition: all 0.6s ease;
}

.dropdown:hover .dropdown-content {
  float: none;
  display: flex; 
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  transition: all 0.6s ease;
}

/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
  .dropdown:hover .dropdown-content {
    float: none;
    display: block;
    align-items: center;
    width: 100%;
    transition: all 0.6s ease;
  }
}

/* Body */
body {
  margin: auto;
  width: auto;
  height: fit-content;
  min-height: 960px;
  background: radial-gradient(circle, crimson , dodgerblue );
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  body {
    height: auto;
  }
}

a,
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding:0;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
}

.box{
  height:25px;
  width:100%;
}

/* links */
#contrast:hover {
  color: ghostwhite;
  text-decoration:none;
}

/* Bottom Navigation */
.bottom_nav {
  width: 100%;
  margin: 10px auto 10px auto;
  float: none;
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
  .bottom_nav {
    flex-direction: column;
  }
}

.bottom_nav a {
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
}

.bottom_nav a:hover {
  text-align: center;
  text-decoration: none;
  color: ghostwhite;
  transition: all 0.6s ease;
}

