/* image */
.index_img img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 8px;
}

@media screen and (max-width: 500px) {
    .index_img img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 8px;
    }
}

/* About Me */
.about_me {
    max-width: 600px;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    border-radius: 8px;
}

/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
    .about_me {
    max-width: 400px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 8px;
    }
}

.about_me h4 {
    margin-top: 20px;
}

/* Prioritizes Fixed Position on Pages with Less Content */
#bottom_nav 
{
    width: 100%;
    position: fixed;
    float:none;
    bottom: 0px;
    margin: 10px auto 10px auto;
}