/* Navigation links */
.top_nav {
  float:none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: auto;
  color: ghostwhite;
  text-decoration: none;
  font-size: 17px;
  text-align: center; /* If you want the text to be centered */
}
/* Add responsiveness - on screens less than 500px, 
make the navigation links appear on top of each other, 
instead of next to each other */
@media screen and (max-width: 500px) {
  .top_nav {
    flex-direction: column;
  }
}
.top_nav a:hover {
  color: ghostwhite;
}
.dropbtn {
  background-color: inherit;
  color: ghostwhite;
  padding: auto;
  font-size: 17px;
  border: none;
  text-align: center;
  transition: all 0.6s ease;
}
.top_nav .dropbtn h1:hover {
  color:ghostwhite;
  transition: all 0.6s ease;
}
.dropdown {
  float: none;
  display: flexbox;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: all 0.6s ease;
}
.dropdown-content {
  display: none;
  padding-top: 5px;
  position:relative;
  text-align: center;
}
.dropdown-content a {
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
  padding: 5px;
  width: auto;
  transition: all 0.6s ease;
}
.dropdown:hover .dropdown-content {
  float: none;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}
/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
  .dropdown:hover .dropdown-content {
    float: none;
    display: block;
    align-items: center;
    width: 100%;
  }
}

/* Body */
body {
  margin: auto;
  width: auto;
  height: fit-content;
  min-height: 960px;
  background: radial-gradient(circle, crimson , dodgerblue );
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 500px) {
  body {
    height: auto;
  }
}
a,
h1,
h2,
h3 {
  text-align: center;
  text-decoration: none;
  margin: 0px;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
}
h4 {
  text-align: center;
  color: ghostwhite;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
}

.box{
  height:25px;
  width:100%;
}

/* About Me */
.img img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 15px auto 15px auto;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .img img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 8px;
  }
}

.about_me {
  max-width: 600px;
  display: block;
  margin: 15px auto 15px auto;
  border-radius: 8px;
}
/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
  .about_me {
    max-width: 400px;
    display: block;
    margin: 15px auto 15px auto;
    border-radius: 8px;
  }
}

.about_me h4 {
  margin-top: 80px;
}

/* Resume */
.resume {
  max-width: 600px;
  display: block;
  position: relative;
  margin: 15px auto 15px auto;
  border-radius: 8px;
  border-color: ghostwhite;
  border-style: inset;
}
.resume:hover {
  border-color: dodgerblue;
  border-style: inset;
  background: radial-gradient(circle, crimson , dodgerblue );
  box-shadow: 5px 5px 15px 5px ghostwhite;
  margin-top: -35px;
  margin-bottom: 35px;
  transition: all 0.6s ease;

}

/* Projects */
.projects {
  max-width: 600px;
  display: block;
  position: relative;
  margin: 15px auto 15px auto;
  border-radius: 8px;
  border-color: ghostwhite;
  border-style: inset;
}
.projects:hover {
  border-color: dodgerblue;
  border-style: inset;
  background: radial-gradient(circle, crimson , dodgerblue );
  box-shadow: 5px 5px 15px 5px ghostwhite;
  margin-top: -35px;
  margin-bottom: 35px;
  transition: all 0.6s ease;
}

/* Bottom Navigation */
.bottom_nav {
  width: 100%;
  margin: 0px auto 0px auto;
  float: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
/* Add responsiveness - on screens less than 500px */
@media screen and (max-width: 500px) {
  .bottom_nav {
    flex-direction: column;
  }
}
/* Prioritizes Fixed Position on Pages with Less Content */
#bottom_nav {
  width: 100%;
  position: fixed;
  float:none;
  bottom: 0px;
  margin-bottom: 0px;
}
.bottom_nav a {
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to bottom, ghostwhite, dodgerblue );
  background-clip: text;
  color: transparent;
}
.bottom_nav a:hover {
  text-align: center;
  text-decoration: none;
  color: ghostwhite;
  transition: all 0.5s ease;
}

